<configuration>

  <property>
    <name>fs.default.name</name>
    <value>hdfs://{{ namenode_hostname }}/</value>
  </property>

  <property>
    <name>fs.defaultFS</name>
    <value>hdfs://{{ namenode_hostname }}/</value>
  </property>

</configuration>