<configuration>

  <property>
    <name>dfs.namenode.name.dir</name>
    <value>file://{{ storage_root }}/dfs/nn/</value>
  </property>

  <property>
    <name>dfs.namenode.replication.max-streams</name>
    <value>20</value>
  </property>

  <property>
    <name>dfs.namenode.replication.max-streams-hard-limit</name>
    <value>40</value>
  </property>

  <property>
    <name>dfs.namenode.replication.work.multiplier.per.iteration</name>
    <value>40</value>
  </property>

  <property>
    <name>dfs.namenode.rpc-address</name>
    <value>{{ namenode_hostname }}:8020</value>
  </property>


  {% for c in hdfs_site_params %}

  <property>
    <name>{{ c.name }}</name>
    <value>{{ c.value }}</value>
  </property>
   
  {% endfor %}
</configuration>